services:
  frontend:
    image: ghcr.io/${GITHUB_REPOSITORY}:latest
    container_name: petple-frontend
    restart: always
    env_file:
      - .env
    networks:
      - home-network

networks:
  home-network:
    external: true
