name: Deploy to Home Server (SSH Push)

on:
  push:
    branches: ["main"]

env:
  IMAGE_NAME: ghcr.io/petple-org/petple_f:latest
  DEPLOY_PATH: /srv/petple/frontend

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE_NAME }}
          build-args: |
            VITE_API_BASE_URL=https://api.petple.duckdns.org

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to Home Server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.PORT }}
          script: |
            mkdir -p ${{ env.DEPLOY_PATH }}
            cd ${{ env.DEPLOY_PATH }}

            curl -L -o docker-compose.yml https://github.com/petple-org/petple_f/raw/refs/heads/main/docker-compose.prod.yml

            echo "${{ secrets.ENV_FILE }}" > .env

            echo "GITHUB_REPOSITORY=${{ github.repository }}" >> .env

            echo "${{ secrets.APP_GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
            docker pull ${{ env.IMAGE_NAME }}

            docker compose up -d --force-recreate
            docker image prune -f
